Azure Data Factory/pipeline/A10_Q2_REST_API.json
{
	"name": "A10_Q2_REST_API",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@createArray('india','us','uk','china','russia')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Ingest REST API data Countrywise",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "IngestRESTAPICountrywiseData",
									"type": "DatasetReference",
									"parameters": {
										"countryName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "RESTAPI_DS_Countrywise",
									"type": "DatasetReference",
									"parameters": {
										"countryName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-04.northcentralus.logic.azure.com:443/workflows/d0d78f91009e41c28590f34fcf50c441/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=6Q885msOPFIW1VRVzGLmuqGOb4PBLqQNpS9Ag45r8V8",
					"body": {
						"Pipeline_Name": "REST_API_Countrywise_Data",
						"To_email": "ashish47nagar@gmail.com",
						"Status": "Failed"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-21.northcentralus.logic.azure.com:443/workflows/b2827be717de40858c49b3ca9fc344bf/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=JooCB-MhDastJ5592ZSiVkqrLKZVNurWX-qBAU_qtrE",
					"body": {
						"Pipeline_Name": "REST_API_Countrywise_Data",
						"Status": "Success",
						"Email": "ashish47nagar@gmail.com",
						"Name": "Ashish"
					}
				}
			}
		],
		"annotations": []
	}
}