Azure Data Factory/pipeline/A7_Q4_Incremental_Pipeline_HWM_table.json
{
	"name": "A7_Q4_Incremental_Pipeline_HWM_table",
	"properties": {
		"activities": [
			{
				"name": "Get Last ExecutionTime from HWM table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from saleslt.HWM",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Generic_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaNameParam": "saleslt",
							"tableNameParam": "HWM"
						}
					}
				}
			},
			{
				"name": "Get Last Modified Time of Product table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Last ExecutionTime from HWM table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(ModifiedDate) as Last_Modified_Time from saleslt.product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Generic_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaNameParam": "saleslt",
							"tableNameParam": "product"
						}
					}
				}
			},
			{
				"name": "Ingest Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Time of Product table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from saleslt.product where ModifiedDate> '@{activity('Get Last ExecutionTime from HWM table').output.firstRow.Last_Execution_Time}' and ModifiedDate <= @{activity('Get Last Modified Time of Product table').output.firstRow.Last_Modified_Time}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_Generic_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaNameParam": "saleslt",
							"tableNameParam": "product"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ingestion_Generic_Table_ADLS_DS",
						"type": "DatasetReference",
						"parameters": {
							"folderPathNameParam": "A7_Q4_Incremental Pipeline"
						}
					}
				]
			},
			{
				"name": "Update Execution Time",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Ingest Data ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Update saleslt.HWM set Last_Execution_Time= '@{activity('Get Last Modified Time of Product table').output.firstRow.Last_Modified_Time}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_Generic_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaNameParam": "saleslt",
							"tableNameParam": "product"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Generic_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaNameParam": "saleslt",
							"tableNameParam": "HWM"
						}
					}
				]
			}
		],
		"annotations": []
	}
}