Azure Data Factory/pipeline/A7_Q5_P1.json
{
	"name": "A7_Q5_P1",
	"properties": {
		"activities": [
			{
				"name": "Check Product ID greater than 100 or not",
				"description": "",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup1').output.firstRow.prodIdCount,100 )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_Generic_Table_DS",
									"type": "DatasetReference",
									"parameters": {
										"schemaNameParam": "saleslt",
										"tableNameParam": "product"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Ingestion_Generic_Table_ADLS_DS",
									"type": "DatasetReference",
									"parameters": {
										"folderPathNameParam": "A7 Q5 "
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select count(productID) as prodIdCount from saleslt.product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Generic_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaNameParam": "saleslt",
							"tableNameParam": "Product"
						}
					}
				}
			}
		],
		"annotations": []
	}
}